<nav class="navbar justify-content-center">
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="#">Météo</a></li>

    <li class="nav-item" style="margin-right: 50px">
      <a class="nav-link" href="#">Activités</a>
    </li>
    <li class="nav-item">
      <a class="nav-link logo" href="#"
        ><div class="wrapper">
          <img class="logo-navbar" src="assets/img/logo.png" /></div
      ></a>
    </li>
    <li class="nav-item" style="margin-left: 50px">
      <a class="nav-link" href="#">Journal</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#">Motivation</a></li>
  </ul>
</nav>
